#choose-existing-soundtrack-input {
	display: flex;
	ul {
		margin: 0 15px 0 0;
		padding: 0;
		list-style-type: none;
		height: 300px;
		overflow-y: auto;
		li {
			padding: 10px;
			cursor: pointer;
		}
	}
}
