#project-action-panel {
    min-height: 100vh;
    background-color: $grey_2;
    position: relative;
    overflow-y: auto;

    .mentalo-logo-banner {
        width: 100%;
        background-color: $grey_0;
        padding: 20px 10px;

        img {
            width: 100%;
        }
    }

    h3 {
        margin: 0;
        padding: 0;
    }

    ul {
        margin: 0;
    }

    .action-block {
        padding-bottom: 15px;

        .action-block-title {
            background-color: $grey_1;
            padding: 10px 20px;
            color: $grey_5;
            font-size: $text_m;
        }

        .action-block-actions {
            padding: 15px;
            margin: 0;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 5px;

            .action-select-block {
                display: grid;
                grid-template-rows: 1fr auto;
                height: 100%;

                label {
                    font-size: $text_s;
                    background-color: $grey_1;
                    color: $grey_5;
                    padding: 5px 8px;
                }

                select {
                    font-size: $text_s;
                    max-width: 125px;
                }
            }
        }

        .ui-settings-form {
            margin: 0 15px 15px 15px;
            padding: 0;
            background-color: $grey_1;
            list-style-type: none;

            // TMP
            &>li {
                .settings-title {
                    background-color: $grey_3;
                    color: $grey_5;
                    padding: 5px 10px;

                    h4 {
                        margin: 0;
                    }
                }

                label {
                    font-size: $text_s;
                    color: $grey_5;
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $grey_0;
                }

                .settings-list {
                    list-style-type: none;
                    padding: 10px;
                    margin: 0;
                }

                .setting-block {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 10px;
                    padding: 3px 0;

                    label {
                        display: flex;
                        align-items: center;
                    }

                    input {
                        width: 100%;
                        height: 30px;

                        &[type="color"] {
                            border: none;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    @import "../inputs/text-settings-inputs/text-settings-inputs.scss";
}