#project-view {
	min-height: 100vh;
	overflow: clip;
	padding: 20px 100px 20px 20px;
	background-color: $grey_1;

	@import "../inputs/editable-text/editable-text.scss";
	@import "../dial-box/dial-box.scss";
	@import "../inputs/scene-image-input/scene-image-input.scss";
	@import "../inputs/choose-existing-image-input/choose-existing-image-input.scss";
	@import "../inputs/choose_existing_soundtrack_input/choose-existing-soundtrack-input.scss";

	#project-scene-title {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		gap: 30px;
		margin-bottom: 20px;
		#project-title,
		#edit-scene-title {
			color: $grey_5;
			flex: 1;
			cursor: pointer;
			height: 100%;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover:not(:focus) {
				background-color: $grey_2;
				color: $grey_6;
			}
			h1,
			h2,
			form,
			input {
				width: 100%;
				height: 100%;
			}
			h1,
			h2 {
				display: flex;
				align-items: center;
			}
		}
	}

	#edit-scene-actions {
		ul {
			display: flex;
			list-style-type: none;
			margin: 0;
			padding: 0;
			gap: 10px;
		}
	}

	#game-render-container {
		display: flex;
		#game-render-view {
			display: grid;
			grid-template-columns: 1fr auto;
			grid-template-rows: auto auto;
			margin: 10px 0;

			.canvas-container {
				overflow: hidden;
				canvas,
				.canvas-like {
					width: 100%;
					height: 100%;
					background-color: black;
				}
			}

			#inventory-container {
				img {
					image-rendering: -moz-crisp-edges;
					image-rendering: crisp-edges;
					image-rendering: pixelated;
				}
			}
			#choices-container {
				grid-column: 1 / span 2;
				#choices-canvas {
					display: grid;
					grid-template-columns: 1fr 1fr;
				}
			}
		}
	}
}
