.editable-text {
    display: flex;
    h1,
    h2,
    h3,
    h4,
    input {
        margin: 0;
        padding: 10px 5px;
        border: none;
        border: 1px solid transparent;
        &:focus {
            border: 1px solid $green;
            color: $grey_0;
        }
    }
    &.editable-h1 {
        h1,
        input {
            font-size: $h1_size;
            font-weight: 700;
        }
    }
    &.editable-h2 {
        h2,
        input {
            font-size: $h2_size;
            font-weight: 600;
        }
    }
    &.editable-h3 {
        h3,
        input {
            font-size: $h3_size;
            font-weight: 500;
        }
    }
    &.editable-h4 {
        h4,
        input {
            font-size: $h4_size;
            font-weight: 500;
        }
    }
}
