@import "./theme.scss";

body {
    * {
        box-sizing: border-box;
        font-family: Optima, sans-serif;
    }

    margin: 0;
    color: $grey_0;
    // background-color: $grey_1;

    green,
    a {
        color: $green;
    }

    green {
        * {
            color: $green;
        }
    }

    a {
        &:hover {
            color: lighten($green, 10%);
        }
    }

    red {
        color: $red;

        * {
            color: $red;
        }
    }

    h1 {
        font-size: $h1_size;
    }

    h2 {
        font-size: $h2_size;
    }

    h3 {
        font-size: $h3_size;
    }

    h4 {
        font-size: $h4_size;
    }

    .text-xs {
        font-size: $text_xs;
    }

    .text-s {
        font-size: $text_s;
    }

    .text-m {
        font-size: $text_m;
    }

    .text-l {
        font-size: $text_l;
    }

    .text-green {
        color: $green;
    }

    .input-required-invalid {
        outline: 2px solid $red;
    }

    input[type="text"],
    input[type="number"],
    input[type="url"],
    input[type="email"],
    input[type="search"],
    textarea {
        border: 1px solid $grey_5;

        &:focus {
            border: 1px solid $green;
            outline: none;
        }
    }

    input[type="text"],
    input[type="url"],
    input[type="search"],
    input[type="email"] {
        padding: 6px 10px;
    }

    input[type="number"] {
        padding: 6px 0 6px 10px;
    }

    textarea {
        padding: 10px;
    }

    input[type="color"] {
        cursor: pointer;
    }

    input[type="radio"] {
        margin: 0;
        width: 18px;
        height: 18px;
        cursor: pointer;
    }

    input[type="checkbox"] {
        width: 25px;
        height: 25px;
        cursor: pointer;
    }

    select {
        @include ui-select;
    }

    .center-y {
        align-self: center;
    }

    .required-field-err-msg {
        background-color: #222d;
        padding: 8px;
        color: $red;
        position: absolute;
    }
}

@import "./app/app.scss";

.mtlo-loader-modal {
    background-color: $grey_1;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    .mtlo-loader-decor-wrapper {
        position: relative;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .ice-cube {
            border: 1px solid white;
            background-color: #fff5;
            transform: rotate(0);
            width: 60px;
            height: 60px;
            position: absolute;
            border-radius: 4px;

            &.cube1 {
                left: 10px;
                bottom: 0;

                @keyframes floatCube {
                    10% {
                        bottom: 0;
                        transform: rotate(0);
                    }

                    80% {
                        bottom: 100px;
                        transform: rotate(45deg);
                    }

                    100% {
                        bottom: 95px;
                        transform: rotate(35deg);
                    }
                }

                animation: 4s linear 0s infinite floatCube;
            }

            &.cube2 {
                bottom: 60px;
                right: 0;

                @keyframes floatCube2 {
                    10% {
                        bottom: 60px;
                        right: 0;
                        transform: rotate(0);
                    }

                    80% {
                        bottom: 180px;
                        right: 20px;
                        transform: rotate(-30deg);
                    }

                    90% {
                        bottom: 185px;
                        right: 15px;
                        transform: rotate(-40deg);
                    }

                    100% {
                        bottom: 170px;
                        right: 12px;
                        transform: rotate(-35deg);
                    }
                }

                animation: 4s linear 0s infinite floatCube2;
            }
        }

        .stirrer {
            position: absolute;

            &>* {
                position: relative;
            }

            display: flex;
            flex-direction: column;
            align-items: center;
            height: 370px;
            transform: rotate(18deg);
            left: 41px;

            .stirrer-head {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                top: 5px;
                background-color: #3a57db;
                background-image: linear-gradient(to top,
                        #283d9e 20%,
                        transparent 60%);
                transform: rotate(-35deg);
            }

            .stirrer-body {
                width: 15px;
                flex: 1;
                background-color: #283d9e;
            }

            .stirrer-bottom {
                width: 20px;
                height: 20px;
                border-radius: 100%;
                bottom: 10px;
                background-color: #283d9e;
            }
        }

        .mtlo-loader-glass {
            width: 100px;
            height: 250px;
            border-style: solid;
            border-color: $grey_5;
            border-bottom-width: 10px;
            border-left-width: 4px;
            border-right-width: 4px;
            border-top-width: 0;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            overflow: hidden;

            .mtlo-loader-liquid {
                height: 220px;
                max-height: 0;
                background-image: linear-gradient(to top,
                        #004102cc 30px,
                        #005003bb 90px,
                        rgba(0, 212, 7, 0.6) 150px,
                        rgba(67, 255, 73, 0.5) 180px,
                        rgba(180, 255, 200, 0.4) 210px);
                position: relative;
                bottom: -5px;

                @keyframes fillGlass {
                    from {
                        max-height: 0;
                    }

                    to {
                        max-height: 210px;
                    }
                }

                @keyframes moveLiquid {
                    from {
                        transform: skew(0, 3deg);
                    }

                    to {
                        transform: skew(0, -3deg);
                    }
                }

                animation: 4s ease-out 0s infinite running fillGlass,
                0.2s linear infinite alternate moveLiquid;
            }
        }
    }

    .mtlo-loader-message {
        color: $grey_5;
    }
}

.page-header {
    color: $grey_5;
    background-color: $grey_1;
    display: flex;
    align-items: center;
    gap: 50px;
    grid-column: 1 / span 2;
    padding: 20px;

    .mtlo-logo-txt {
        width: 200px;
    }

    .page-title {
        margin: 0;
        flex: 1;
        text-align: center;
    }
}

.spin-loader {
    width: 40px;
    height: 40px;
    border-width: 2px 2px 0 0;
    border-color: $green;
    border-style: solid;
    border-radius: 100%;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

// @import "./pages/games/games-page.scss";
@import "./app/documentation/documentation-page.scss";